.ai {
  &-b {
    align-items: baseline;
  }
  &-c {
    align-items: center;
  }
  &-fe {
    align-items: flex-end;
  }
  &-fs {
    align-items: flex-start;
  }
  &-s {
    align-items: stretch;
  }
}