.cur {
  &-a {
    cursor: auto;
  }
  &-d {
    cursor: default;
  }
  &-c {
    cursor: crosshair;
  }
  &-ha {
    cursor: hand;
  }
  &-he {
    cursor: help;
  }
  &-m {
    cursor: move;
  }
  &-p {
    cursor: pointer;
  }
  &-t {
    cursor: text;
  }
}