.d {
  display: block;
  &-n {
    display: none;
  }
  &-b {
    display: block;
  }
  &-f {
    display: flex;
  }
  &-if {
    display: inline-flex;
  }
  &-i {
    display: inline;
  }
  &-ib {
    display: inline-block;
  }
  &-li {
    display: list-item;
  }
  &-ri {
    display: run-in;
  }
  &-cp {
    display: compact;
  }
  &-tb {
    display: table;
  }
  &-itb {
    display: inline-table;
  }
  &-tbcp {
    display: table-caption;
  }
  &-tbcl {
    display: table-column;
  }
  &-tbclg {
    display: table-column-group;
  }
  &-tbhg {
    display: table-header-group;
  }
  &-tbfg {
    display: table-footer-group;
  }
  &-tbr {
    display: table-row;
  }
  &-tbrg {
    display: table-row-group;
  }
  &-tbc {
    display: table-cell;
  }
  &-rb {
    display: ruby;
  }
  &-rbb {
    display: ruby-base;
  }
  &-rbbg {
    display: ruby-base-group;
  }
  &-rbt {
    display: ruby-text;
  }
  &-rbtg {
    display: ruby-text-group;
  }
}