.ff {
  &-s {
    font-family: serif;
  }
  &-ss {
    font-family: sans-serif;
  }
  &-c {
    font-family: cursive;
  }
  &-f {
    font-family: fantasy;
  }
  &-m {
    font-family: monospace;
  }
  &-a {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  &-t {
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  }
  &-v {
    font-family: Verdana, Geneva, sans-serif;
  }
}